{% extends 'base.html' %}

{% load static %}

    {% block titulo %}
    <title>Centros</title>
    {% endblock %}
        
        {% load crispy_forms_tags %}

        {% block conteudo %}
            <h1 class="h3 mb-4 text-gray-800">Listagem de centros do Campus Rio Branco</h1>

            <hr>
                
                <table class="table table-bordered" id="dataListagens" width="100%" cellspacing="0">                    <thead >
                        <tr>
                            <th>Centro</th>
                            <th>Sigla</th>
                            <th>Coordenadas</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in object_list %}
                        <tr>
                            <td scope="row">{{ item.nome_centro}}</td>
                            <td>{{item.sigla_centro}}</td>
                            <td type="button" id="destino{{item.id}}" onclick="rodar_direcao()" value="{{item.latitude}}, {{item.longitude}}"> {{item.latitude}}, {{item.longitude}}</td>                            
                        </tr>

                        {% empty %}
                            nada foi registrado
                        {% endfor %}
                    </tbody>
                    
                </table>
                    {% comment %} tentativa 9 de aplicar o mapa, adicionar +1 a cada tentativa até a conclusão {% endcomment %}

                <div id="rotas">
                         
                                           
                        <div>
                            <div>
                                <input type="text" id="to" placeholder="destino" value="">
                                
                                <select id="mode">
                                    <option value="DRIVING">Dirigindo</option>
                                    <option value="TRANSIT">Transporte publico</option>
                                    <option value="WALKING">Andando</option>
                                </select>
                            </div>
                        </div>
                    
                </div>
                    
                <div id="map"></div>
        
            </div>
                
            <div id="map"></div>

        {% endblock %}
        {% block afterjs %}
        
    <script>
        $("select").change(function() {
            $(this).parent().submit();
        })
        </script>
        <script>
        $(document).ready(function() {
            var table = $('#dataListagens').DataTable({
            lengthChange: false,
            buttons: ['copy', 'excel', 'pdf', 'colvis']
            }) ;
            table.buttons().container()
            .appendTo('#dataListagens_wrapper .col-md-6:eq(0)');
        });
    </script>
{% endblock %}
